@tailwind base;
  @tailwind components;
  @tailwind utilities;


h1 {
  font-size: 50px;
  color: rgb(0 48 109);
}

button:not(.rdp-button, .Modal_closeButton__g98Y6, .modal-content>button, .tabs-wrapper button) {
  border: 2px solid rgb(0, 29, 66);
  background-color: rgb(0, 29, 66);
}

button:not(.rdp-button):hover {
  color: rgb(0, 29, 66);
  background-color: transparent !important;
}

.tabs-wrapper {
  background-color: #d9d9d9;
}

.tabs-wrapper button {
  border: none;
}
.alert-modal-cta {
  border: 2px solid rgb(0, 0, 79);
}
.alert-modal-cta:first-of-type {
  background-color: rgb(0, 0, 79);
  margin-right: 20px;

}
.alert-modal-cta:last-of-type {
  background-color: #fff;
  color: rgb(0, 0, 79);
}
.success-page {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.old-price {
  text-decoration: underline;
  text-underline-offset: -45%;
  text-decoration-skip-ink: none;
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
}
.reservation-dashboard {
  border-bottom: 1px solid rgb(205, 205, 205);
  padding: 20px 50px 20px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.reservation-dashboard .remove-reservation-wrapper {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}
.reservation-dashboard:first-of-type {
  border-top: 1px solid rgb(205, 205, 205);
}
.reservation-dashboard p {
  width: 25%;
}
.reservation-dashboard span {
  font-weight: bold;
}
.reservation-dashboard p:last-of-type {
  width: max-content;
}

h2 {
  font-size: 35px;
  color: rgb(0 48 109);
}
h3 {
  font-size: 25px;
  color: rgb(0 48 109);
}
h4 {
  font-size: 20px;
  color: rgb(0 48 109);
}
p {
  font-size: 18px;
  color: rgb(0 48 109);
}
.small-text {
  font-size: 14px;
}
.user-circle {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  font-size: 16px;
}
.cart-icon svg {
  font-size: 20px;
}
.cart-icon {
  position: relative;
}
.tabs-component button {
  background-color: rgb(221, 221, 221);
  border: none;
  text-transform: uppercase;
}
.teaser-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.cart-icon span {
  position: absolute;
  top: -8px;
  left: 10px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  padding: 2px 6px;
  line-height: 1;
  background-color: red;
  font-size: 11px;
  letter-spacing: -1.2px;
  z-index: -1;
}
.cart-img {
  max-width: 60px;
}

.total-price {
  margin-top: auto;
}

footer {
  background-color: rgb(0 24 54);
}

.prod-teaser .image-box {
  max-height: 250px;
}
.map-wrapper {
  width: 70%;
}
.dealers-wrapper {
  width: 30%;
  padding: 40px;
}
.user-marker {
  background-color: #ff5722; /* Customize as needed */
}
.content-product img {
  max-width: 300px;
}
.mobile-nav button {
  font-size: 25px;
  border: none !important;
  background-color: transparent !important;
}
.dealer-item {
  padding: 20px 0;
  border-bottom: 1px solid rgb(193, 193, 193);
}
.prod-item {
  padding: 20px;
    background: #ececec;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
    position: relative;
}
.prod-item .description {
  height: 114px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 60px;
}

.nav-item {
  color: rgb(95, 95, 95);
  transition: all ease-in-out .1s;
}
.nav-item:hover {
  color: black;
}

.product-carousel-item {
  padding: 15px;
  border-radius: 20px;
  position: relative;
  min-height: 300px;
}
.product-category {
  position: absolute;
  left: -10px;
  top: 10px;
  padding: 2px 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
.product-category:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 10px;
  height: 10px;
  background-color: rgb(225, 0, 0);
  border-bottom-left-radius: 15px;
  z-index: -1;
}
.product-carousel-item .popular-item {
  display: block;
  width: 100%;
  max-height: 200px;
  position: relative !important;
  object-fit: contain;
  min-height: 200px;
}

.content-product .product-big-image {
  position: relative !important;
  width: 300px!important;
  display: block;
}

.content-car .car-big-image {
  position: relative !important;
  width: 800px!important;
}
.two-col-component {
  margin: 100px 0;
  display: flex;
}
.two-col-component img {
  width: 100%;
}
.two-col-reverse {
  flex-direction: row-reverse;
}
.product-carousel-item .table {
  margin: auto;
  width: 100%;
}

.loading-spinner {
  height: 100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infinite-scroll-component {
  position: relative;
}

.spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bars-loader {
  width: 50.4px;
  height: 67.2px;
  --c: linear-gradient(#474bff  0 0);
  background: var(--c) 0%   100%,
       var(--c) 50%  100%,
       var(--c) 100% 100%;
  background-size: 10.1px 65%;
  background-repeat: no-repeat;
  animation: bars-1hcj36 1s infinite linear;
}

.swiper {
  overflow: visible !important;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -40px !important;
}

.product-carousel-item h4 {
  min-height: 60px;
}

.prod-item:hover {
  scale: 1.03;
}
.login-wrapper .sign-in-button {
  border: 2px solid black;
  background-color: #fff;
  color: black;
}
.login-wrapper .sign-in-button:hover {
  color: #fff;
  background-color: #002751 !important;
}

header {
  position: fixed;
    z-index: 3;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 0;
}
.car-text {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.car-text h1 {
  color: #fff;
  font-size: 70px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
}
.video-cars {
  position: relative;
}
.video-cars video {
  height: 95vh;
    object-fit: cover;
}
.scroll-down {
  position: absolute;
  transform: translateX(-50%);
  bottom: 50px;
  left: 50%;
  z-index: 2;
  width: 40px;
}
.scroll-down img {
  color: transparent;
    object-fit: cover;
    height: 20px;
}
.video-cars:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5)
}
.hero-wrapper {
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
}

/* Chatbot Component CSS */

/* Chatbot Wrapper */
.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 80%;
  transition: all 0.3s ease;
  z-index: 1000;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Chatbot Toggle Button */
.chatbot-toggle {
  background-color: #006ce0;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

/* Collapsed State */
.chatbot.closed .chatbot-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Expanded State */
.chatbot.open .chatbot-container {
  max-height: 400px; /* Adjust according to the desired height */
  opacity: 1;
  pointer-events: auto;
}

/* Chatbot Container */
.chatbot-container {
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-top: 10px;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

/* Chat Window */
.chat-window {
  max-height: 200px;
  min-height: 100px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* Message Styles */
.chat-message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
  max-width: 80%;
}
.chat-message a {
  color: #0056b3;
  text-decoration: underline;
}

.chat-message.user {
  background-color: #d1e7dd;
  color: #0f5132;
  text-align: right;
  align-self: flex-end;
}

.chat-message.bot {
  background-color: #e9ecef;
  color: #495057;
  text-align: left;
  align-self: flex-start;
}

/* Input Area */
.chat-input {
  display: flex;
  margin-top: 15px;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #0061c8;
  border: 2px solid #0063cc;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-input button:hover {
  background-color: #0056b3;
  border: 2px solid #0056b3;
  color: #0056b3;
}
.not-available-flag {
  left: 30px;
  top: 50px;
}

.leaflet-pane {
  z-index: 4 !important;
}
.leaflet-control-zoom {
  z-index: 5 !important;
}
.leaflet-top {
  z-index: 6 !important;
}


@keyframes bars-1hcj36 {
   20% {
      background-position: 0% 50% ,50% 100%,100% 100%;
   }

   40% {
      background-position: 0% 0%  ,50% 50% ,100% 100%;
   }

   60% {
      background-position: 0% 100%,50% 0%  ,100% 50%;
   }

   80% {
      background-position: 0% 100%,50% 100%,100% 0%;
   }
}




@media (max-width: 992px) {
  .cart-header-box {
    margin-left: auto;
  }
  .dealers-wrapper, .map-wrapper {
    width: 100%;
  }
  .remove-reservtion-wrapper {
    background: #b80000;
      height: 100%;
      width: 45px;
      color: #fff;
      position: absolute;
      right: 0;
      transform: translateY(-50%);
      top: 50%;
      cursor: pointer;
  }
  .dealers-wrapper {
    padding: 20px 0;
  }
  .leaflet-container {
    height: 350px !important;
  }
  .two-col-component {
    flex-direction: column;
    margin: 50px 0;
  }
  .two-col-component > div {
    width: 100%;
    padding: 10px;
  }
  .reservation-dashboard {
    flex-wrap: wrap;
  }
  .reservation-dashboard p {
    width: 50%;
    padding: 0 20px;
  }
  .reservation-dashboard p:last-of-type {
    width: 50%;
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 45px;
  }

  .hero img:not(.logo-icon) {
    height: 100%;
    object-fit: cover;
    width: auto;
    max-width: max-content;
  }
  .hero-wrapper {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  }

  footer {
    padding: 30px 0;
  }
  .hero {
    height: 600px;
    overflow: hidden;
  }
  .reservation-dashboard p {
    width: 100%;
    padding: 10px 0;
  }
  .reservation-dashboard p:last-of-type {
    width: 100%;
  }
  .hero .text-white {
    max-width: 100%;
    font-size: 44px;
  }
  .container {
    padding: 0 1rem;
  }
  .cart-icon {
    margin: 0 20px 0 35px;
  }
  .car-text {
    width: 90%;
  }
  .car-text h1 {
    font-size: 10vw;
  }
  .chatbot {
    max-width: 320px;
  }
  .reservation-dashboard .remove-reservation-wrapper {
    height: 100%;
    background: red;
    width: 45px;
    right: 0;
    position: absolute;
    top: 50%;
    color: #fff;
    padding: 7px;
  }
}